.poi-create{
    max-height: 90vh;
    position: relative;
    z-index: 4;
    background-color: white;
    margin-top: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: #DD476D;
    font-weight: bold;
}
